
.btn-top {
    position: fixed;
    right: 2vw;
    top: 88vh;
    background: #444444;
    padding: 12px 10px;
    border-radius: 20px;
    z-index: 100;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;

    img {
        width: 17px;
    }
}
